.DS_Store
.vscode/
__pycache__/
*.spec
*.tar.gz
*.zip
*.nupkg
build/
linux/
osx/
windows/
test*

# server
server/docker/static/
server/docker/templates/
server/docker/*.py
server/values.yaml

# py-client
py-client/pyinstaller/__pycache__/
py-client/pyinstaller/dist/
py-client/pyinstaller/*.py
py-client/!pyinstaller/kubectl-login.spec

# go-client
go-client/dist/
go-client/dist/release/
go-client/dist/choco/
go-client/dist/homebrew/
go-client/dist/krew-main/
go-client/dist/krew/
go-client/dist/linux/
go-client/dist/osx/
go-client/dist/windows/
go-client/homebrew-devopstales/
go-client/krew-index/
go-client/krew/

