.DS_Store
.vscode/
__pycache__/
*.spec
*.tar.gz
*.zip
*.nupkg
build/
linux/
osx/
windows/
test*

# server
server/docker/static/
server/docker/templates/
server/docker/*.py

# py-client
py-client/pyinstaller/__pycache__/
py-client/pyinstaller/dist/
py-client/pyinstaller/*.py
py-client/!pyinstaller/kubectl-login.spec
