.DS_Store
.vscode/
__pycache__/
*.spec
*.tar.gz
*.zip
build/
dist/
test*
docker/static/
docker/templates/
docker/*.py
pyinstaller/__pycache__/
pyinstaller/dist/
pyinstaller/*.py
!pyinstaller/kubectl-login.spec
