<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kubectl OIDC Auth Server</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{{ url_for('static',filename='jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='an-old-hope.min.css') }}">
    <script src="{{ url_for('static',filename='highlight.min.js') }}"></script>
    <script>hljs.highlightAll();</script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
      <a class="navbar-brand" href="https://devopstales.github.io/tags/ kube-openid-connect/">
        <img src="{{ url_for('static',filename='devopstales.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="">
        Kubectl OIDC Auth
      </a>
    
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" formaction="/logout">Logout</button>
      </form>
    </nav>

    <h2 class="text-center my-4" >Welcome {{ preferred_username }}</h2>
    <h3 class="text-center my-4" >In order to get command-line acces to the {{ context }} Kubernetes cluster, you will need to configure OpenID Connect (OIDC) authentication for your client.</h3>

    <ul class="nav nav-tabs mb-4 mx-5">
      <li class="nav-item">
        <a class="nav-link active" href="#list-item-0">Kubernetes ApiServer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#list-item-1">Kubectl Plugin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#list-item-2">Download Kubeconfig</a>
      </li>
      <li class="nav-item"></li>
        <a class="nav-link" href="#list-item-3">Running kubectl</a>
    </li>
      <li class="nav-item"></li>
        <a class="nav-link" href="#list-item-4">Advanced</a>
      </li>
    </ul>

    <div data-spy="scroll" data-target="#list" data-offset="0" class="scrollspy"></div>

    <div class="card mb-4 mx-5">
      <h5 class="card-header" id="list-item-0">Kubernetes ApiServer</h5>
      <div class="card-body">
        <h5 class="card-title">Kubernetes ApiServer integration with OpeniD prodiver</h5><pre><code>nano /etc/kubernetes/manifests/kube-apiserver.yaml
...
command:
- /hyperkube
- apiserver
...
- --oidc-issuer-url={{ oauth_server_uri }}
- --oidc-client-id={{ client_id }}
- --oidc-username-claim=email
- --oidc-groups-claim=groups
# for self sign cert or custom ca
#- --oidc-ca-file=/etc/kubernetes/pki/rootca.pem
...

systemctl restart kubelet</code></pre>
      </div>
    </div>

      <div class="card mb-4 mx-5">
        <h5 class="card-header" id="list-item-1">Kubectl Plugin</h5>
        <div class="card-body">
          <h5 class="card-title">Install as Kubectl plugin.</h5><pre><code># Homebrew (macOS and Linux)
brew tap devopstales/devopstales
brew install kubectl-login</code></pre>
          <h5 class="card-title">Use the plugin.</h5>
          <pre><code class="bash">$ kubectl login {{ redirect_uri }}
Configfile created with config for productioncluster to ~/.kube/config
Happy Kubernetes interaction!</code></pre>
        </div>
      </div>

      <div class="card mb-4 mx-5">
        <h5 class="card-header" id="list-item-2">Download Kubeconfig File</h5>
        <div class="card-body">
          <p class="card-text">If you didn't want to use the kubectl plugin, save this file as <code>~/.kube/config</code> to enable OIDC based <code>kubectl</code> authentication.</p>
          <a href="/get-file" class="btn btn-primary">Download Config File</a>
        </div>
      </div>

      <div class="card mb-4 mx-5">
        <h5 class="card-header" id="list-item-3">Running kubectl</h5>
        <div class="card-body">
          <p class="card-text">Once you get the <code>~/.kube/config</code> file you should be able to run <code>kubectl</code>: </p>
          <pre><code class="bash"># These are examples. Your context and cluster names will likely differ.

$ kubectl config get-contexts
CURRENT   NAME       CLUSTER            AUTHINFO   NAMESPACE
          k8s        k8s                k8s        
          microk8s   microk8s-cluster   admin      

$ kubectl --context k8s get namespaces
NAME          STATUS    AGE
default       Active    83d
experimental  Active    15d

$ kubectl --context k8s -n experimental get pods
NAME                                       READY     STATUS             RESTARTS   AGE
testapp-4074452424-06m0b                   1/1       Running            1          6d</code></pre>
        </div>
      </div>

      <div class="card mx-5 mb-5">
        <h5 class="card-header" id="list-item-4">Authenticate Manually</h5>
        <div class="card-body">
          <p class="card-text">If you want to maintain your existing <code>~/.kube/config</code> file you can run the following to add your user: </p>
          <pre><code class="bash"># Create k8s server ca pem
echo "{{ k8s_server_ca }}
" \ > ca-k8s.pem

# Add your server to kubectl config
kubectl config set-cluster {{ context }} \
--server={{ k8s_server_url }} \
--user={{ preferred_username }} \
--certificate-authority=ca-k8s.pem

# Add your user to kubectl config
kubectl config set-credentials "{{ preferred_username }}" \
--auth-provider=oidc \
--auth-provider-arg=client-id="{{ client_id }}" \
--auth-provider-arg=client-secret="{{ client_secret }}" \
--auth-provider-arg=id-token="{{ id_token }}" \
--auth-provider-arg=refresh-token="{{ refresh_token }}" \
--auth-provider-arg=idp-issuer-url="{{ oauth_server_uri }}"

# Associate your user with an existing cluster
kubectl config set-context {{ context }} --cluster {{ context }} --user="{{ preferred_username }}"
kubectl config use-context {{ context }}</code></pre>
        </div>
      </div>
    </div>
  </body>

</html>

{#
  # Krew (macOS, Linux, Windows and ARM)
  kubectl krew install oauth-login
  
  # Chocolatey (Windows)
  choco install kubectl-login  
#}